source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Npgsql
nuget Dapper

nuget dbup-postgresql
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Configuration.Binder
nuget Microsoft.Extensions.Configuration.EnvironmentVariables
nuget Microsoft.Extensions.Configuration.Json

group Tests
    source https://api.nuget.org/v3/index.json
    nuget Microsoft.NET.Test.Sdk
    nuget NUnit
    nuget NUnit.Analyzers
    nuget NUnit3TestAdapter